.content {
  display: grid;
  grid-template-areas: "sider main main";
  grid-template-columns: auto 1fr;
  gap: 2em;

  padding-block: 2em;
}

.sider {
  grid-area: sider;

  display: flex;
  flex-direction: column;
  gap: 1em;

  &__header {
    display: flex;
    gap: 1em;

    font-size: 1.5em;
  }
}

.main {
  grid-area: main;
}
