@use "../../../../shared/lib/stylesheets/abstracts/" as *;

.recipe {
  display: flex;
  flex-direction: column;

  gap: 0.5em;

  position: relative;

  padding: 0.5em;

  border-radius: 0.5em;

  background-color: white;

  transition: all 0.15s ease-in-out;


  &:hover {
    cursor: pointer;

    scale: 1.05;
  }
}

.image {
  margin-bottom: auto;

  max-width: 150px;

  margin-inline: auto;
}

.desc {
}

.title {
  font-weight: $bold;
  text-align: center;
}

.click {
  font-size: 0.75em;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  padding: 0.25em;

  width: 40px;

  aspect-ratio: 1;

  $star-inset: 0.5em;

  position: absolute;
  top: $star-inset;
  right: $star-inset;

  transition: all 0.15s ease-in-out;

  &--disabled {
    background-color: $blue-100;

    pointer-events: none;
  }

  &:hover {
    scale: 1.1;
    background-color: $red-100;
  }
}
